---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="500 error">
  <main class="content-page">
    <Banner title="500 Internal Server Error" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-4 fw-normal mb-2">
        That's the worst sort of error!
      </h2>

      <p class="text-0">
        We're very sorry and hope you can forgive us. Please contact us to let us know what happened.
      </p>
    </section>
  </main>
</Layout>
<style>
  :root {
    --palette-highlight: var(--palette-red);
    --palette-contrast: var(--palette-light);
  }
</style>
