---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import GradientContentStrip from "../components/GradientContentStrip.astro";
import Clients from "../components/Clients.astro";
import Card from "../components/Card.astro";
import Strip from "../components/Strip.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import HorseImage from "../components/HorseImage.astro";
---

<Layout title="About us">
  <main>
    <Banner title="About Atomic Horse Digital" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">
        "Be useful"
      </h2>

      <p class="text-1">
        A simple phrase but one that's at the heart of everything we do.
      </p>
    </section>
    <GradientContentStrip>
      <p class="tag">Company</p>
      <h2 class="heading">Who we are</h2>

      <p>
        Ut has commune epicurei perpetua, in sit mazim delenit. Te legere
        eloquentiam est, duo laudem impetus te. Ea summo feugait nec, noster
        placerat mea ad, mel et mucius nusquam offendit. Nec an eros molestie,
        ut nec expetenda efficiantur. Meis commune oportere vim et. Vide
        vituperata eloquentiam ius id.
      </p>

      <p>
        Te has repudiare moderatius, pro persius splendide id. Legere sententiae
        percipitur vim ne. Sit in timeam aliquip, eum pericula vituperatoribus
        in. Quo ei delicata electram evertitur, habeo quodsi te vel. Qui suas
        semper labores et, doming probatus pri ei. Quo libris semper doctus te,
        persius ocurreret definitiones ut eam, magna modus cotidieque eu ius.
      </p>
    </GradientContentStrip>
    <Clients />
    <Strip theme="DARK">
      <div class="wrapper">
        <div class="grid">
          <div class="contents">
            <p class="text-1 fw-medium">
              Lorem ipsum dolor sit amet, autem dicat aliquam ad ius, cu vel
              oblique equidem. Ne soleat delicata eos. Quo at eripuit propriae
              tacimates, enim debet doming an pri.
            </p>
            <p class="text-1">
              Lorem ipsum dolor sit amet, autem dicat aliquam ad ius, cu vel
              oblique equidem. Ne soleat delicata eos. Quo at eripuit propriae
              tacimates, enim debet doming an pri.
            </p>
          </div>
          <div class="image">

          </div>
        </div>
      </div>
    </Strip>
    <Strip theme="MID">
      <FeaturedProject />
    </Strip>
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
