---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import GradientContentStrip from "../components/GradientContentStrip.astro";
import Clients from "../components/Clients.astro";
import Card from "../components/Card.astro";
import Strip from "../components/Strip.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import HorseImage from "../components/HorseImage.astro";
---

<Layout title="About us">
  <main>
    <Banner title="About Atomic Horse Digital" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-normal mb-2">
        "Be useful"
      </h2>

      <p class="text-1">
        A simple phrase but one that's at the heart of everything we do.
      </p>
    </section>
    <GradientContentStrip>
      <p class="tag">Company</p>
      <h2 class="heading">Who we are</h2>

      <p class="text-1 fw-medium">
        Established in 2018 as a way of our founder Andy being able to justify getting a dog by working at home more - we have gone from strength to strength (and adopted <a href="https://www.instagram.com/indiana_bones11/" target="_blank">Dr Indiana Bones</a> from Cyprus).
      </p>

      <p>We believe our mix of agency, freelance and enterprise level experience gives us a compelling worldview of the digital landscape. From single page websites to local businesses to international airlines - our development team have done it all.</p>

      <p>Our specialty is providing the highest possible level of web site development for small businesses, designers and digital agencies. We have recently expanded into branding and website design and have seen our work in mediums from digital to hats. </p>
      
      <p>With over 15 years experience in web development we have an extensive network of copywriters, designers and other experts to call on if we can't provide the service you need. </p>
    </GradientContentStrip>
    <Strip theme="MID">
      <FeaturedProject />
    </Strip>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
