---
import Layout, { type MetaTags } from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import GradientContentStrip from "../components/GradientContentStrip.astro";
import Clients from "../components/Clients.astro";
import Strip from "../components/Strip.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import MeetTheTeam from "../components/MeetTheTeam.astro";

const meta: MetaTags = {
  title: "Our Story And Digital Background",
  description: "Learn more about the team behind our web development agency. Over 15 years' experience in the digital world and a great network of copywriters, designers, UX specialists."
};
---

<Layout meta={meta}>
  <main>
    <Banner title="Our digital story" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-bold mb-2">
        Atomic Horse<br />
        Explosive creativity. Unstoppable drive. 
      </h2>

      <p class="text-1">
        Atomic Horse agency combines proven strategies with forward-thinking, agile solutions. As your loyal partner, we'll help deliver transformative results. Boom 💥!
      </p>
    </section>
    <GradientContentStrip>
      <p class="tag">Company</p>
      <h2 class="heading">Who we are</h2>

      <p class="text-1 fw-medium">
        Established in 2018 as a way for our founder, Andy, to justify getting a dog while working from home,we’ve grown from strength to strength (and adopted <a href="https://www.instagram.com/indiana_bones11/" target="_blank">Indiana Bones</a> from Cyprus along the way).
      </p>

      <p>We bring a unique perspective to the digital landscape, combining agency, freelance and enterprise-level experience. From single page websites for local businesses to large-scale projects for international airlines, our development team has done it all.</p>

      <p>Our specialty lies in delivering the highest possible level of web site development for small businesses, designers and digital agencies. Recently we’ve expanded into branding, content and website design, with our work appearing across diverse mediums – from digital platforms to branded hats.</p>

      <p>With over 15 years of experience in web development, we’ve built an extensive network of copywriters, designers and other experts to provide the tailored service you need.</p>

    </GradientContentStrip>
    <Strip theme="DARK">
      <div class="wrapper">
        <MeetTheTeam />
      </div>
    </Strip>
    <Strip theme="THEME">
      <FeaturedProject />
    </Strip>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-pink);
    --palette-contrast: var(--palette-light);
  }
</style>
