---
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Clients from "../components/Clients.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await Astro.glob('./blog/*.md');
---
<Layout title="Welcome">
  <main>
    <Banner title="Being useful since 2007" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-4 fw-normal mb-2">Techincal solutions to human problems</h2>

      <p>
        Here at Atomic Horse we just want to help you, who ever you are, what
        ever you do to make the best of your online presence.
      </p>
    </section>
    <section class="card-grid">
        {
            allPosts.map((post) => (
                <Card 
                    heading={post.frontmatter.title}
                    content={post.frontmatter.description}
                    imageSrc={post.frontmatter.image.url as string}
                    imageAlt={post.frontmatter.image.alt as string}
                    link={post.url as string}
                />
            ))
        }
    </section>
    <Clients />
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
