---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Welcome">
  <main>
    <Banner title="How can we help?" showHorse />
    <section class="container">
      <ContactForm />
    </section>
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-yellow);
    --palette-contrast: var(--palette-dark);
  }
</style>
