---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
import { EMAIL } from "../utils/constants";
---

<Layout title="Cookie Policy">
  <main class="content-page">
    <Banner title="Cookie Policy" condense />
    <section class="wrapper">
      <p>
        This website uses cookies to ensure you get the best experience on our
        website.
      </p>

      <h2 class="text-1 fw-medium">What are Cookies?</h2>
      <p>
        Cookies are small text files stored on your computer or mobile device by
        your web browser. They are widely used to make websites work more
        efficiently and to provide information to website owners.
      </p>

      <h2 class="text-1 fw-medium">How We Use Cookies</h2>
      <p>We use cookies for a variety of purposes, including:</p>
      <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
        <li>Customizing your experience</li>
      </ul>

      <h2 class="text-1 fw-medium">Types of Cookies We Use</h2>
      <p>
        We use both session and persistent cookies on our website. Session
        cookies are temporary and are deleted when you close your browser.
        Persistent cookies remain on your device until they expire or are
        deleted manually.
      </p>

      <h2 class="text-1 fw-medium">Google Analytics</h2>
      <p>
        We use Google Analytics to collect information about how visitors use
        our website. Google Analytics stores information about what pages you
        visit, how long you are on the site, how you got here, and what you
        click on. This Analytics data is collected via a JavaScript tag in the
        pages of our site and is not tied to personally identifiable
        information. We do not collect or store your personal information (e.g.,
        your name or address) so this information cannot be used to identify who
        you are.
      </p>
      <p>
        You can find more information on how Google uses data from these cookies
        at <a href="https://policies.google.com/technologies/partner-sites"
          >Google's Privacy & Terms</a
        >.
      </p>

      <h2 class="text-1 fw-medium">Your Choices Regarding Cookies</h2>
      <p>
        You can control and manage cookies in various ways. Please refer to your
        browser's help menu for instructions on how to do this.
      </p>

      <h2 class="text-1 fw-medium">Changes to Our Cookies Policy</h2>
      <p>
        We may update our Cookies Policy from time to time. Any changes will be
        posted on this page.
      </p>

      <h2 class="text-1 fw-medium">Contact Us</h2>

      <p>If you have any questions about our Cookies Policy, please <a href={`mailto:${EMAIL}`}>contact us</a>.</p>
    </section>
  </main>
</Layout>
<style>
  .wrapper {
    text-align: left;
  }
</style>
