---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Welcome">
  <main>
    <Banner title="What can we do for you?" />
    <section class="container">
      <h2>A web development studio with a difference</h2>

      <p>
        Here at Atomic Horse we just want to help you, who ever you are, what
        ever you do to make the best of your online presence.
      </p>

      <p>
        Are you a small business who needs help getting on the internet property
        ladder?
      </p>

      <p>
        Want to update a tired old website with something modern, performant and
        accessible?
      </p>

      <p>
        Tired of paying someone to update your business website and want to do
        it yourself?
      </p>

      <p>
        Are you a designer who needs help turning your ideas into something
        real?
      </p>

      <p>
        Are you an agency looking for developers to get projects across the
        line?
      </p>

      <p>
        Our team of <a href="about.html">highly skilled developers</a> with over
        15 years of agency and enterprise level experience are available to take
        the project and run with it or embed themselves in your company until the
        work is finished.
      </p>

      <p>
        Whatever your needs - we would <span aria-label="love">❤️</span> to help
        you.
      </p>
    </section>
  </main>
</Layout>

<style>
  :root {
    --palette-highlight: var(--palette-green);
    --palette-contrast: var(--palette-dark);
  }
</style>
