---
import Banner from "../components/Banner.astro";
import Clients from "../components/Clients.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import Strip from "../components/Strip.astro";
import Layout, { type MetaTags } from "../layouts/Layout.astro";

const meta: MetaTags = {
  title: "Thank you for your enquiry",
  description: "Thank you for getting in touch with us. Our team will be in touch with you shortly to discuss your project."
};
---

<Layout meta={meta} hideContact>
  <main class="content-page">
    <Banner title="Great success" showHorse />
    <section class="strip text-center w-clamp-xl intro-section">
      <h2 class="text-5 fw-bold mb-2">Thank you for your enquiry</h2>

      <p class="text-1">
        Our team will be in touch with you shortly to discuss your project.
      </p>
    </section>
    <Strip theme="MID">
      <FeaturedProject />
    </Strip>
    <Clients />
  </main>
</Layout>
<style>
  :root {
    --palette-highlight: var(--palette-purple);
    --palette-contrast: var(--palette-light);
  }
</style>;
