---
import Horse from './Horse.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<section class="hero full-bleed">
	<section class="wrapper">
		<h1>{title}</h1>
		<div class="horse">
			<Horse />
		</div>
		<svg viewBox="0 0 1200 213" fill="none" xmlns="http://www.w3.org/2000/svg" class="hill full-bleed" role="presentation">
			<path d="M-22 156.778L1138.07 0.284901C1139.45 0.0982206 1140.86 0.277011 1142.16 0.803493L1215 30.4569V213H-22V156.778Z" fill="currentColor"/>
		</svg>			
	</section>
</section>

<style>
	.hero {
		min-height: 75vh;
		position: relative;
		background-color: var(--palette-highlight);
		color: var(--palette-contrast);
		padding-top: var(--space-3xl);

		h1 {
			font-size: var(--step-5);
			margin: 0;
			padding: 0 0 0 270px;
		}
	}

	.horse {
		position: absolute;
		bottom: 5vw;
	}

	.hill {
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		color: var(--palette-dark);
	}
</style>