---
import "swiper/css";
import "swiper/css/autoplay";
import WavePlumbing from "../client-logos/WavePlumbing.astro";
import SophieTanner from "../client-logos/SophieTanner.astro";
import MortgageStudio from "../client-logos/MortgageStudio.astro";
import Farleys from "../client-logos/Farleys.astro";
import NeonSaw from "../client-logos/NeonSaw.astro";
import LeeMiller from "../client-logos/LeeMiller.astro";
import SeventhSense from "../client-logos/7thSense.astro";
import HomeJames from "../client-logos/HomeJames.astro";
import Eydens from "../client-logos/Eydens.astro";
import Tck from "../client-logos/Tck.astro";
import CKS from "../client-logos/CKS.astro";
import AnotherAStory from "../client-logos/AnotherAStory.astro";

const clients = [
  {
    name: "Wave Plumbing & Bathrooms",
    logo: "WavePlumbing",
    website: "https://wave.plumbing",
  },
  {
    name: "Sophie Tanner",
    logo: "SophieTanner",
    website: "https://sophietanner.co.uk",
  },
  {
    name: "Neon Saw",
    logo: "NeonSaw",
    website: "https://neonsaw.co.uk",
  },
  {
    name: "Another A Story",
    logo: "AnotherAStory",
    website: "https://anotherastory.com",
  },
  {
    name: "Mortgage Studio",
    logo: "MortgageStudio",
    website: "https://mortgage-studio.co.uk",
  },
  {
    name: "Farleys House and Gallery",
    logo: "Farleys",
    website: "https://www.farleyshouseandgallery.co.uk",
  },
  {
    name: "Lee Miller Archives",
    logo: "LeeMiller",
    website: "https://leemiller.co.uk",
  },
  {
    name: "7thSense",
    logo: "SeventhSense",
    website: "https://7thsense.one",
  },
  {
    name: "Home James Cleaning Services",
    logo: "HomeJames",
    website: "https://homejamescleaningservices.co.uk",
  },
  {
    name: "Eydens Auto locksmiths",
    logo: "Eydens",
    website: "#",
  },
  { name: "TCK", logo: "Tck", website: "https://www.tck.co.uk" },
  {
    name: "Car Keys Solutions",
    logo: "CKS",
    website: "https://vehiclesecurity.carkeyssolutions.co.uk",
  },
];

// Mapping logo names to their respective components
const logoComponents: Record<string, any> = {
  WavePlumbing,
  SophieTanner,
  AnotherAStory,
  MortgageStudio,
  Farleys,
  NeonSaw,
  LeeMiller,
  SeventhSense,
  HomeJames,
  Eydens,
  Tck,
  CKS,
};
---

<section class="clients-component full-bleed strip">
  <div class="wrapper">
    <p class="tag">Clients</p>
    <h2 class="heading">Some of our favourite clients</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          clients.sort(() => Math.random() - 0.5).map((client) => {
            const LogoComponent = logoComponents[client.logo];
            return (
              <div class="swiper-slide">
                <a href={client.website} target="_blank">
                  <LogoComponent />
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import { Autoplay } from 'swiper/modules';
  const swiper = new Swiper(".swiper", {
	modules: [ Autoplay ],
    spaceBetween: 40,
    grabCursor: true,
    freeMode: true,
	speed: 11000,
	loop: true,
	slidesPerView: "auto",
	autoplay: {
		delay: 0.5,
		disableOnInteraction: false,
	}
  });
</script>

<style>
  .clients-component {
    background: var(--palette-highlight);
    color: var(--palette-contrast);
    padding: var(--space-m) 0;

    a {
      color: currentColor;
    }
  }

  .swiper {
	-webkit-transition-timing-function: linear!important;
	-o-transition-timing-function: linear!important;
	transition-timing-function: linear!important;
	margin-top: var(--space-m);
  }

  .swiper-slide {
	width: auto;

    a {
      display: block;
    }

    svg {
      max-width: 300px;
      height: 80px;
    }
  }
</style>
