---
import "swiper/css";
import "swiper/css/autoplay";
import RDA from "../client-logos/RDA.astro";
import WavePlumbing from "../client-logos/WavePlumbing.astro";
import SophieTanner from "../client-logos/SophieTanner.astro";
import MortgageStudio from "../client-logos/MortgageStudio.astro";
import Farleys from "../client-logos/Farleys.astro";
import NeonSaw from "../client-logos/NeonSaw.astro";
import LeeMiller from "../client-logos/LeeMiller.astro";
import SeventhSense from "../client-logos/7thSense.astro";
import HomeJames from "../client-logos/HomeJames.astro";
import Eydens from "../client-logos/Eydens.astro";
import Tck from "../client-logos/Tck.astro";
import CKS from "../client-logos/CKS.astro";
import AnotherAStory from "../client-logos/AnotherAStory.astro";

const clients = [
  {
    name: "Riding for the Disabled Association",
    description: "Digital consultation and training for a local chapter of the national charity.",
    logo: "RDA",
  },
  {
    name: "Wave Plumbing & Bathrooms",
    description: "Logo design, website rebranding and van wrap design for a luxury bathroom company.",
    logo: "WavePlumbing",
    website: "https://wave.plumbing",
  },
  {
    name: "Sophie Tanner",
    description: "Logo design, branding and website development for a local author, yoga teacher and founding sologamist.",
    logo: "SophieTanner",
    website: "https://sophietanner.co.uk",
  },
  {
    name: "Neon Saw",
    description: "Website ecommerce support and consultation for master wood worker.",
    logo: "NeonSaw",
    website: "https://neonsaw.co.uk",
  },
  {
    name: "Another A Story",
    description: "Website development for incredible luxury events company. ",
    logo: "AnotherAStory",
    website: "https://anotherastory.com",
  },
  {
    name: "Mortgage Studio",
    description: "Website development, hosting and support for family run mortgage advisors.",
    logo: "MortgageStudio",
    website: "https://mortgage-studio.co.uk",
  },
  {
    name: "Farleys House and Gallery",
    description: "Website development and technical support for surrealist art gallery",
    logo: "Farleys",
    website: "https://www.farleyshouseandgallery.co.uk",
  },
  {
    name: "Lee Miller Archives",
    description: "Website technical support for the official Lee Miller achive.",
    logo: "LeeMiller",
    website: "https://leemiller.co.uk",
  },
  {
    name: "7thSense",
    description: "Technical support and improvements for the creators of the Las Vegas Sphere.",
    logo: "SeventhSense",
    website: "https://7thsense.one",
  },
  {
    name: "Home James Cleaning Services",
    description: "Logo design, branding and website development for West Sussex cleaning company.",
    logo: "HomeJames",
    website: "https://homejamescleaningservices.co.uk",
  },
  {
    name: "Eydens Auto locksmiths",
    description: "Pricing NextJS application for large auto locksmiths.",
    logo: "Eydens",
    website: "https://www.eydens.co.uk/",
  },
  { 
    name: "TCK", 
    description: "Website support and amends for specialist executive search firm focussed on the UK and European real estate markets",
    logo: "Tck", 
    website: "https://www.tck.co.uk" 
  },
  {
    name: "Car Keys Solutions",
    description: "ECommerce website development and support for auto locksmiths and van security company",
    logo: "CKS",
    website: "https://vehiclesecurity.carkeyssolutions.co.uk",
  },
];

// Mapping logo names to their respective components
const logoComponents: Record<string, any> = {
  WavePlumbing,
  SophieTanner,
  AnotherAStory,
  MortgageStudio,
  Farleys,
  NeonSaw,
  LeeMiller,
  SeventhSense,
  HomeJames,
  Eydens,
  Tck,
  CKS,
};
---

<section class="clients-component full-bleed strip">
  <div class="wrapper">
    <p class="tag">Clients</p>
    <h2 class="heading">Some of our favourite clients</h2>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        clients
          .sort(() => Math.random() - 0.5)
          .map((client) => {
            const LogoComponent = logoComponents[client.logo];
            return (
              <div class="swiper-slide">
                <a href={client.website} target="_blank">
                  <LogoComponent />
                  <p class="visually-hidden">{client.description}</p>
                </a>
              </div>
            );
          })
      }
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import { Autoplay } from "swiper/modules";
  document.addEventListener('astro:page-load', () => {
    new Swiper(".swiper", {
      modules: [Autoplay],
      spaceBetween: 60,
      grabCursor: true,
      freeMode: true,
      speed: 11000,
      loop: true,
      slidesPerView: "auto",
      autoplay: {
        delay: 0.5,
        disableOnInteraction: false,
      },
    });
    });
</script>

<style>
  .clients-component {
    background: var(--palette-highlight);
    color: var(--palette-contrast);
    padding: var(--space-m) 0;

    a {
      color: currentColor;
    }
  }

  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    margin-top: var(--space-m);
  }

  .swiper-slide {
    width: auto;

    a {
      display: block;
    }

    svg {
      max-width: 300px;
      height: 80px;
    }
  }
</style>
