---
import MortgageStudio from "../client-logos/MortgageStudio.astro";

---

<section class="featured-client wrapper">
	<p class="tag">Work</p>
	<h2 class="heading">Featured project</h2>

	<div class="grid">
		<div class="content">
			<p>Quis ocurreret pro id. Nec ea reque delicata gloriatur, qui delenit denique te. Tantas molestie iracundia sed eu, vix harum albucius democritum ad. Ea nisl velit his, est etiam oratio dissentiunt eu.</p>

			<a href="" class="button">
				Learn more
			</a>
		</div>
		<div class="image">
			<MortgageStudio />
		</div>
	</div>
</section>

<style>

</style>
