---
import Logo from "./Logo.astro";


---
<div class="logo">
	<Logo /> <span>Atomic</span>Horse.digital
</div>

<style>
	.logo {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: var(--step-0);

		span {
			font-weight: 600;
			margin-left: var(--space-3xs);
		}

		svg {
			width: 40px;
			height: 40px;
		}
	}
</style>
