---
import horse_looking from '../animations/horse_looking.json';

interface Props {
	theme?: "DARK" | "LIGHT";
}

const { theme } = Astro.props;
---

<section class:list={['gradient-strip', { dark: theme === 'DARK', light: theme === 'LIGHT' }, 'full-bleed', 'strip']}>
	<div class="wrapper">
		<div class="content">
			<slot />
		</div>
		<dotlottie-player class="horse" src={JSON.stringify(horse_looking)} background="transparent" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
	</div>
</section>
<style>
	.gradient-strip {
		background: linear-gradient(180deg, #282828 60.54%, #8E8D8D 154%);
		padding: var(--space-l) 0 var(--space-xl) 0;
		position: relative;

		&::after {
			content: "";
			background-image: url(/grass.svg);
			background-repeat: repeat-x;
			background-position-y: bottom;
			background-size: auto 34px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
		}
	}

	.wrapper {
		position: relative;

		.content {
			width: calc(95% - 200px);
		}
	}

	.horse {
		width: 200px;
		height: 200px;
		position: absolute;
		bottom: -90px;
		right: 0;
		transform: scaleX(-1);
		z-index: 2;
		filter: invert(6%) sepia(10%) saturate(794%) hue-rotate(60deg) brightness(93%) contrast(126%);
	}
</style>
