---
import horse_looking from '../animations/horse_looking.json';

interface Props {
	theme?: "DARK" | "LIGHT";
}

const { theme } = Astro.props;
---

<section class:list={['gradient-strip', { dark: theme === 'DARK', light: theme === 'LIGHT' }, 'full-bleed']}>
	<div class="wrapper">
		<div class="content">
			<slot />
		</div>
		<dotlottie-player class="horse" src={JSON.stringify(horse_looking)} background="transparent" speed="1" direction="1" playMode="normal" loop autoplay></dotlottie-player>
	</div>
</section>
<style>
	.gradient-strip {
		background-color: red;
		background-image: url(/grass.svg);
		background-repeat: repeat-x;
		background-position-y: bottom;
		background-size: auto 28px;
		padding: var(--space-l) 0 var(--space-xl) 0;
	}

	.wrapper {
		position: relative;

		.content {
			width: calc(95% - 200px);
		}
	}

	.horse {
		width: 200px;
		height: 200px;
		position: absolute;
		bottom: -90px;
		right: 0;
		transform: scaleX(-1);
		z-index: 2;
		filter: invert(6%) sepia(10%) saturate(794%) hue-rotate(60deg) brightness(93%) contrast(126%);
	}
</style>
