---
import FullLogo from './FullLogo.astro';
---
<header>
	<a href="/">
		<FullLogo />
	</a>
</header>

<style>
	header {
		background: transparent;
		padding: var(--space-s) 0;
		
		a {
			text-decoration: none;
		}
	}
</style>