---
import { Image } from 'astro:assets';

interface Props {
	tag: string;
	order: "ODD" | "EVEN";
	heading: string;
	imageSrc: any;
	imageAlt: string;
}

const { tag, order, heading, imageSrc, imageAlt } = Astro.props;
---

<section class:list={['service-card', { odd: order === 'ODD', even: order === 'EVEN' }]}>
	<p class="tag">{tag}</p>
	<h2 class="heading">{ heading }</h2>
	<div class="service-card-grid">
		<div class="service-card-grid__content">
			<h2>{imageSrc}</h2>
			<slot name="card-content" /> 
		</div>	
		<div class="service-card-grid__image">
			<Image src={imageSrc} alt={imageAlt} loading="lazy" width="800" height="400" class="card-image" />
		</div>	

	</div>
</section>
<style>
	.service-card {
		width: 100%;

		&.odd {
			.service-card-grid {
				flex-direction: row-reverse;
			}
		}

		.service-card-grid {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		.service-card-grid__content {
			flex: 0 0 100%;
			@media (min-width: 768px) {
				flex: 1;
			}
		}

		.service-card-grid__image {
			flex: 0 0 100%;
			order: -1;
			@media (min-width: 768px) {
				flex: 0 0 26%;

				.odd & {
					margin-right: 4%;
					margin-left: 0;
				}
				margin-left: 4%;
				margin-right: 0;
				order: 1;
			}
			border-radius: var(--border-radius);
			margin-bottom: var(--space-s);
			background: radial-gradient(85.3% 85.3% at 50% 117.34%, var(--palette-highlight) 0%, #111 100%);
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 16 / 9;
			@media (min-width: 768px) {
				aspect-ratio: 1 / 1;
			}
			padding: var(--space-l);

			img {
				border-radius: var(--border-radius);
			}  
		}

		.card-image {
			width: 60%;
			height: 60%;
		}
		
		h2 {
			margin-bottom: var(--space-s);
		}

		.button {
			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
				margin-top: var(--space-s);
			}
		}
	}
</style>
