---
import { Image } from 'astro:assets';

interface Props {
	heading: string;
	imageSrc: any;
	imageAlt: string;
}

const { heading, imageSrc, imageAlt } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}');
if (!images[imageSrc]) throw new Error(`"${imageSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section class="service-card">
	<div class="service-card-grid">
		<div class="service-card-grid__content">
			<h2>{ heading }</h2>
			<slot name="card-content" /> 
		</div>	
		<div class="service-card-grid__image">
			<Image src={imageSrc} alt={imageAlt} width="800" height="400" class="card-image" />
		</div>	

	</div>
</section>
<style>
	.service-card {
		width: 100%;

		.service-card-grid {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: var(--space-xl);
		}

		.card-image {
			border-radius: var(--border-radius);
			margin-bottom: var(--space-s);
			width: 100%;
			height: auto;
			object-fit: cover;
			aspect-ratio: 1 / 1;
		}
		
		h2 {
			margin-bottom: var(--space-s);
		}
	}
</style>
