---
interface Props {
	theme?: "DARK" | "MID" | "LIGHT";
}

const { theme } = Astro.props;
---

<section class:list={['strip', { dark: theme === 'DARK', mid: theme === 'MID', light: theme === 'LIGHT' }, 'full-bleed']}>
	<slot />
</section>
<style>
	.strip {
		background: transparent;
	}

	.dark {
		background: var(--palette-dark);
		color: var(--palette-light);
	}

	.mid {
		background: var(--palette-mid);
		color: var(--palette-light);
	}
</style>
