@import url(./variables.css);

* {
    box-sizing: border-box;
}

body {
    font-family: var(--brand-font);
    background: var(--palette-dark);
    color: var(--palette-light);
    font-size: var(--step-0);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
}

.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}  

p {
    margin-bottom: var(--space-xs);
}

a {
    color: var(--palette-highlight);
    text-decoration: underline;
    transition: color var(--animation-speed) ease-in-out;
}

/* Font Sizes using step scale */
.text--2 { font-size: var(--step--2); }
.text--1 { font-size: var(--step--1); }
.text-0 { font-size: var(--step-0); }
.text-1 { font-size: var(--step-1); }
.text-2 { font-size: var(--step-2); }
.text-3 { font-size: var(--step-3); }
.text-4 { font-size: var(--step-4); }
.text-5 { font-size: var(--step-5); }

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.fw-light   { font-weight: var(--fw-light, 300); }
.fw-normal  { font-weight: var(--fw-normal, 400); }
.fw-medium  { font-weight: var(--fw-medium, 500); }
.fw-bold    { font-weight: var(--fw-bold, 700); }
.fw-xbold   { font-weight: var(--fw-xbold, 800); }
.fw-black   { font-weight: var(--fw-black, 900); }

.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-start  { text-align: start; }
.text-end    { text-align: end; }

.w-clamp-xs { width: clamp(100px, 10vw, 200px); margin-right: auto; margin-left: auto; }
.w-clamp-sm { width: clamp(200px, 20vw, 400px); margin-right: auto; margin-left: auto; }
.w-clamp-md { width: clamp(300px, 30vw, 600px); margin-right: auto; margin-left: auto; }
.w-clamp-lg { width: clamp(400px, 40vw, 800px); margin-right: auto; margin-left: auto; }
.w-clamp-xl { width: clamp(500px, 50vw, 1000px); margin-right: auto; margin-left: auto; }

.tag {
    font-size: var(--step--1);
    margin: 0;

    + .heading {
        margin-top: 0;
        margin-bottom: var(--space-m);
    }
}

.icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: var(--step-0);
    font-weight: 500;

    li {
        margin-top: var(--space-xs);
    }

    svg {
        width: var(--step-2);
        height: auto;
        margin-right: var(--space-xs);
    }

    a {
        text-decoration: none;
        color: var(--palette-light);
        display: flex;
        align-items: center;
        width: 100%;

        &:hover {
            color: var(--palette-highlight);
        }
    }

    &.align-end {
        a {
            justify-content: flex-end;
        }
    }
}

.strip {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}

p + .button {
    margin-top: var(--space-s);
}

.button {
    display: inline-block;
    border: 1px solid var(--palette-light);
    border-radius: var(--border-radius);
    background: transparent;
    color: currentColor;
    padding: var(--space-2xs);
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.mb--2 {
    margin-bottom: var(--step--2);
  }
  
  .mb--1 {
    margin-bottom: var(--step--1);
  }
  
  .mb-0 {
    margin-bottom: var(--step-0);
  }
  
  .mb-1 {
    margin-bottom: var(--step-1);
  }
  
  .mb-2 {
    margin-bottom: var(--step-2);
  }
  
  .mb-3 {
    margin-bottom: var(--step-3);
  }
  
  .mb-4 {
    margin-bottom: var(--step-4);
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-xl);
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
  }