---
import Banner from '../components/Banner.astro';
import Layout from './Layout.astro';
import Strip from "../components/Strip.astro";
import User from "../icons/User.astro";
import Clock from "../icons/Clock.astro";
import dayjs from 'dayjs';

const { frontmatter } = Astro.props;
const formattedDate = dayjs(frontmatter.pubDate).format('MMMM D, YYYY');

---
<Layout title={frontmatter.title}>
  <Banner showHorse title={frontmatter.title} />
  <section class="strip text-center w-clamp-2xl intro-section">
    <h2 class="text-4 fw-normal mb-2">
      { frontmatter.description }
    </h2>
  </section>
  <Strip theme="DARK">
    <div class="wrapper">
      <div class="post-meta">
        <p class="meta-item">
          <User /> {frontmatter.author}
        </p>
        <p class="meta-item">
          <Clock /> {formattedDate}
        </p>
      </div>
    </div>
  </Strip>
  <div class="w-clamp-3xl">
    <slot />
  </div>
</Layout>
<style>
  :root {
    --palette-highlight: var(--palette-blue);
    --palette-contrast: var(--palette-light);
  }
</style>
<script>
	import { setTheme } from '../utils/theme';
	document.addEventListener('astro:page-load', () => setTheme('highlight'));
</script>