---
import { ViewTransitions } from 'astro:transitions';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import '../css/reset.css';
import '../css/styles.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export interface MetaTags {
	title?: string;
	description?: string;
}

interface Props {
	title?: string;
	meta?: MetaTags;
	hideContact?: boolean;
}

const { title, hideContact = false, meta } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="theme-color" content="default" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="google-site-verification" content="FlLquzfYX80RJij2u97uumdyXE3CMc-R__HwmwI6z3M" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Atomic Horse Digital" />
		<meta property="og:image" content="https://atomichorse.agency/case-studies/atomic-horse.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="manifest" href="/site.webmanifest" />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap">
		</GoogleFontsOptimizer>
		<link href="" rel="stylesheet">
 		<title>{meta?.title ?? title} | Atomic Horse Digital</title>
		<meta name="description" content={meta?.description ?? "Atomic Horse is an agency for designers who need expert web development for their projects."}>
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<section class="wrapper">
			<Header />
			<slot />
			<Footer hideContact={hideContact} />
		</section>
		<script is:inline src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
		<script is:inline src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.8/src/glowCookies.min.js"></script>
		<script is:inline>
			glowCookies.start('en', {
				style: 1,
				analytics: 'UA-3539496-7',
				border: 'none',
				position: 'left',
				policyLink: '/cookies'
			});
		</script>
	</body>
</html>
<script>
	import { setTheme } from '../utils/theme';
	document.addEventListener('astro:page-load', () => setTheme('highlight'));
</script>