---
import { ViewTransitions } from 'astro:transitions';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import '../css/reset.css';
import '../css/styles.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	hideContact?: boolean
}

const { title, hideContact = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Atomic Horse Digital" />
		<link rel="manifest" href="/site.webmanifest" />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap">
		</GoogleFontsOptimizer>
		<link href="" rel="stylesheet">
 		<title>{title} | Atomic Horse Ltd</title>
		<meta name="description" content="Atomic Horse is an agency for designers who need expert web development for their projects.">
		<meta name="keywords" content="Brighton, Portslade, Sussex, East Sussex, West Sussex, web design, web development, ecommerce, Hove, agency, wordpress, css, javascript">
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<section class="wrapper">
			<Header />
			<slot />
			<Footer hideContact={hideContact} />
		</section>
		<script is:inline src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
		<script is:inline src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.8/src/glowCookies.min.js"></script>
		<script is:inline>
			glowCookies.start('en', {
				style: 1,
				analytics: 'UA-3539496-7',
				border: 'none',
				position: 'left',
				policyLink: '/cookies'
			});
		</script>
	</body>
</html>
